.navbarStreamUS {
   background: $roxoEscuro;

  .campo-pesquisa{
    border: none;
    background: black;
  }

}

@media (min-width: 786px) {
  .navbarStreamUS {
    min-height: 70px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.thumbControlVod {opacity: 0;}
.thumbControlVod:hover {opacity: 0.5;}

.divisorVods {
  width: 100%;
  text-align: right;
  border-bottom: 1px solid #A9A9A9;
}

#tituloNavBar {
  color: white;
  font-size: 40pt;
}

#versionNavbar {
  font-size: 7pt;
}

#containerCorpo {
  max-width: 1800px;
}

.videoContainerExterno {
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.emoteNoChat {
  display: inline-block;
}
