.loadingComponent {
    background: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    padding: 12px;
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    position: relative;
}

.background-masker {
    background: #fff;
    position: absolute;
}
/* Elementos personalizados */
.loadingCardStreamer {
  width: 500px;
  min-height: 160px;
  margin-right: 10px;
  display: inline-block;
}

.loadingStreamer {
  width: 190px;
  min-height: 95px;
  margin-bottom: 7px;
}

.loadingCardJogo {
  display: inline-block;
  width: 110px;
  height: 250px;
  margin-right: 10px;
  padding: 0px;
}

.loadingCardVod {
  display: inline-block;
  width: 300px;
  height: 250px;
  margin-left: 10px;
  padding: 0px;
  overflow: hidden;
}

@media all and (orientation: portrait) {
  .loadingCardStreamer {
    width: 325px;
  }
}
