.painelEstatisticas {
  margin-top: 10px;
}

.corpoPainel {
  text-align: center;
}

.cardJogo {
  max-width: 100px;
  overflow: hidden;
  word-wrap: break-word;
  margin-right: 10px;
  height: 250px;
  text-align: center;
}

.cardPainelStreamer {
  display: inline-block;
  width: 500px;
  margin-right: 10px;
  border-bottom: 1px solid grey;
  text-align: left;
  overflow: hidden;
}

.infosCardPainelStreamer {
  width: 100px;
  display: inline-block;
  overflow: hidden;
}

.imgCardPainelStreamer {
  width: 100px;
}

.graficoCardPainelStreamer {
  display: inline-block;
  width: 400px;
  overflow: hidden;
}

@media all and (orientation: portrait) {
  .cardPainelStreamer {
    width: 325px;
  }
  .graficoCardPainelStreamer {
    width: 225px;
  }
}
