#painelLateral {
  border-right: 1px solid gray;
  padding-top: 5px;
}

#simboloLive {
  -webkit-animation: fadeIn 1.5s infinite;
  animation: fadeIn 1.5s infinite;
  animation-direction: alternate;
}

.cardStreamer {
  border-bottom: 1px solid #C0C0C0;
  padding-top: 10px;
  padding-bottom: 10px;
  img {
    width: 49%;
  }
  div {
    float: right;
    width: 49%;
    margin-top: 10px;
    overflow: hidden;
  }
}

@-webkit-keyframes fadeIn {
    from {opacity: 1;}
    to {opacity: 0.4;}
}

@keyframes fadeIn {
    from {opacity: 1;}
    to {opacity: 0.4;}
}
