.navbarStreamUS {
  background: #200A34;
}
.navbarStreamUS .campo-pesquisa {
  border: none;
  background: black;
}

@media (min-width: 786px) {
  .navbarStreamUS {
    min-height: 70px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.thumbControlVod {
  opacity: 0;
}

.thumbControlVod:hover {
  opacity: 0.5;
}

.divisorVods {
  width: 100%;
  text-align: right;
  border-bottom: 1px solid #A9A9A9;
}

#tituloNavBar {
  color: white;
  font-size: 40pt;
}

#versionNavbar {
  font-size: 7pt;
}

#containerCorpo {
  max-width: 1800px;
}

.videoContainerExterno {
  background: #232526;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.emoteNoChat {
  display: inline-block;
}

#painelLateral {
  border-right: 1px solid gray;
  padding-top: 5px;
}

#simboloLive {
  -webkit-animation: fadeIn 1.5s infinite;
  animation: fadeIn 1.5s infinite;
  animation-direction: alternate;
}

.cardStreamer {
  border-bottom: 1px solid #C0C0C0;
  padding-top: 10px;
  padding-bottom: 10px;
}
.cardStreamer img {
  width: 49%;
}
.cardStreamer div {
  float: right;
  width: 49%;
  margin-top: 10px;
  overflow: hidden;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.4;
  }
}
@keyframes fadeIn {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.4;
  }
}
.painelEstatisticas {
  margin-top: 10px;
}

.corpoPainel {
  text-align: center;
}

.cardJogo {
  max-width: 100px;
  overflow: hidden;
  word-wrap: break-word;
  margin-right: 10px;
  height: 250px;
  text-align: center;
}

.cardPainelStreamer {
  display: inline-block;
  width: 500px;
  margin-right: 10px;
  border-bottom: 1px solid grey;
  text-align: left;
  overflow: hidden;
}

.infosCardPainelStreamer {
  width: 100px;
  display: inline-block;
  overflow: hidden;
}

.imgCardPainelStreamer {
  width: 100px;
}

.graficoCardPainelStreamer {
  display: inline-block;
  width: 400px;
  overflow: hidden;
}

@media all and (orientation: portrait) {
  .cardPainelStreamer {
    width: 325px;
  }

  .graficoCardPainelStreamer {
    width: 225px;
  }
}
.loadingComponent {
  background: #fff;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  padding: 12px;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
.animated-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  position: relative;
}

.background-masker {
  background: #fff;
  position: absolute;
}

/* Elementos personalizados */
.loadingCardStreamer {
  width: 500px;
  min-height: 160px;
  margin-right: 10px;
  display: inline-block;
}

.loadingStreamer {
  width: 190px;
  min-height: 95px;
  margin-bottom: 7px;
}

.loadingCardJogo {
  display: inline-block;
  width: 110px;
  height: 250px;
  margin-right: 10px;
  padding: 0px;
}

.loadingCardVod {
  display: inline-block;
  width: 300px;
  height: 250px;
  margin-left: 10px;
  padding: 0px;
  overflow: hidden;
}

@media all and (orientation: portrait) {
  .loadingCardStreamer {
    width: 325px;
  }
}
div.scrollbarPersonalizada::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

div.scrollbarPersonalizada::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

div.scrollbarPersonalizada::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}

div.scrollbarPersonalizada::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

div.scrollbarPersonalizada::-webkit-scrollbar-thumb:active {
  background: #000000;
}

div.scrollbarPersonalizada::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}

div.scrollbarPersonalizada::-webkit-scrollbar-track:hover {
  background: #666666;
}

div.scrollbarPersonalizada::-webkit-scrollbar-track:active {
  background: #333333;
}

div.scrollbarPersonalizada::-webkit-scrollbar-corner {
  background: transparent;
}

/*# sourceMappingURL=index.css.map */
